.demo--page {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
}

.demo--single-input-form {
    .input {
        float: left;
    }

    .button {
        float: right;
        margin-top: 30px;
    }

    &::after {
        content: '';
        display: block;
        clear: both;
    }
}
